In [1]:
import pandas as pd

In [2]:
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv("evaluation_results.csv")

In [4]:
# df.reset_index(inplace=True)
# df.rename(columns={"index": "EdgeID"}, inplace=True)

In [5]:
df.rename(columns={"Edge ID": "EdgeID"}, inplace=True)

In [6]:
df.head()

      EdgeID  Source Node  Target Node  Ground Truth  Prediction  batch
0  4214585.0            1            0             0           0      1
1  4215295.0          455            3             0           0      1
2  4214612.0          339            4             0           0      1
3  4215076.0          435            8             0           0      1
4  4214679.0            6            9             0           0      1

In [7]:
df.shape

(863071, 6)

In [8]:
df["EdgeID"].min(), df["EdgeID"].max()

(4214445.0, 5078344.0)

In [9]:
df["EdgeID"].max() - df["EdgeID"].min()

863899.0

In [10]:
df.columns

Index(['EdgeID', 'Source Node', 'Target Node', 'Ground Truth', 'Prediction',
       'batch'],
      dtype='object')

In [11]:
df_a = pd.read_csv("data/Small_HI/formatted_transactions.csv")
df_a.head()

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
0,316720,256803,256803,10,47.64,13,47.64,13,0,0
1,261688,212164,212164,10,3917.42,10,3917.42,10,0,0
2,261696,212165,208177,10,97.49,10,97.49,10,2,0
3,126680,102447,102448,10,13939.05,2,13939.05,2,5,0
4,126564,102351,102351,10,10.37,2,10.37,2,0,0

In [12]:
df_a[(df_a["from_id"] == 496) & (df_a["to_id"] == 779)]

Empty DataFrame
Columns: [EdgeID, from_id, to_id, Timestamp, Amount Sent, Sent Currency, Amount Received, Received Currency, Payment Format, Is Laundering]
Index: []

In [13]:
merged_df = df.merge(df_a, on="EdgeID", how="left")

In [14]:
merged_df.shape

(863071, 15)

In [15]:
merged_df.head()

,EdgeID,Source Node,Target Node,Ground Truth,Prediction,batch,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
0,4214585.0,1,0,0,0,1,243806,247546,689470,1052.400000,14,1052.400000,14,1,0
1,4215295.0,455,3,0,0,1,263342,335044,690910,0.076608,1,0.076608,1,6,0
2,4214612.0,339,4,0,0,1,297820,248153,690730,72766.090000,14,72766.090000,14,1,0
3,4215076.0,435,8,0,0,1,259265,263539,690490,0.105265,1,0.105265,1,6,0
4,4214679.0,6,9,0,0,1,243806,249936,689710,88683.990000,14,88683.990000,14,1,0

In [28]:
result_df = merged_df[["EdgeID", "Ground Truth", "Prediction", "Is Laundering"]]

In [29]:
result_df

           EdgeID  Ground Truth  Prediction  Is Laundering
0       4214585.0             0           0              0
1       4215295.0             0           0              0
2       4214612.0             0           0              0
3       4215076.0             0           0              0
4       4214679.0             0           0              0
...           ...           ...         ...            ...
863066  5078129.0             1           1              0
863067  5077870.0             1           0              0
863068  5078336.0             1           1              0
863069  5078006.0             0           0              0
863070  5078115.0             0           0              0

[863071 rows x 4 columns]

In [18]:
result_df["Ground Truth"].value_counts()

Ground Truth
0    1024
Name: count, dtype: int64

In [19]:
result_df["Is Laundering"].value_counts()

Is Laundering
0    995
1     29
Name: count, dtype: int64

In [20]:
result_df[(result_df["Ground Truth"] == 1) & (result_df["Is Laundering"] == 1)]

Empty DataFrame
Columns: [EdgeID, Ground Truth, Prediction, Is Laundering]
Index: []

In [21]:
y_pred = result_df["Prediction"].values
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [22]:
y = result_df["Is Laundering"].values
y

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [23]:
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99       995
           1       0.00      0.00      0.00        29

    accuracy                           0.97      1024
   macro avg       0.49      0.50      0.49      1024
weighted avg       0.94      0.97      0.96      1024

c:\Users\sarthak\miniconda3\envs\aml\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\sarthak\miniconda3\envs\aml\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\sarthak\miniconda3\envs\aml\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [24]:
r = merged_df[merged_df['batch'] == 10][["EdgeID", "Ground Truth", "Prediction", "Is Laundering"]]
r["Ground Truth"].value_counts(), r["Is Laundering"].value_counts()

(Ground Truth
 0    1021
 1       2
 Name: count, dtype: int64,
 Is Laundering
 0    1023
 Name: count, dtype: int64)

In [25]:
merged_df["Ground Truth"].value_counts(), merged_df["Is Laundering"].value_counts(), merged_df["Prediction"].value_counts()

(Ground Truth
 0    861460
 1      1611
 Name: count, dtype: int64,
 Is Laundering
 0    861957
 1      1114
 Name: count, dtype: int64,
 Prediction
 0    862008
 1      1063
 Name: count, dtype: int64)

In [26]:
merged_df[merged_df["Ground Truth"] == 1]

,EdgeID,Source Node,Target Node,Ground Truth,Prediction,batch,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
9578,4224249.0,496,779,1,0,10,84988,94696,691330,8.570000e+00,0,8.570000e+00,0,2,0
9976,4223680.0,1870,1569,1,0,10,27308,79897,692890,8.366780e+03,0,8.366780e+03,0,2,0
16070,4230243.0,1485,1499,1,0,16,140744,147158,692650,2.232600e+02,2,2.232600e+02,2,2,0
18708,4233085.0,543,612,1,0,19,167044,167045,692950,6.730900e+02,4,6.730900e+02,4,2,0
24206,4238132.0,1382,1383,1,1,24,277847,297139,692350,3.849800e+02,3,3.849800e+02,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863064,5077990.0,371,432,1,1,844,303317,240276,863470,5.025000e+01,11,5.025000e+01,11,5,0
863065,5077947.0,297,433,1,1,844,231196,339251,863050,1.378374e+04,11,1.378374e+04,11,1,0
863066,5078129.0,48,434,1,1,844,250834,250837,862870,1.174360e+03,14,1.174360e+03,14,1,0
863067,5077870.0,420,435,1,0,844,228503,229818,862930,8.111199e+06,12,8.111199e+06,12,3,0
863068,5078336.0,33,436,1,1,844,261912,402219,862270,3.732000e-03,1,3.732000e-03,1,6,0

In [27]:
df_a[df_a["EdgeID"] == 4224249]

,EdgeID,from_id,to_id,Timestamp,Amount Sent,Sent Currency,Amount Received,Received Currency,Payment Format,Is Laundering
4216529,4224249,84988,94696,691330,8.57,0,8.57,0,2,0